<html>
<head><title>Registration page</title></head>
<body>
<label>First name</label>
<input type="text" name="n1">
<label>Last name</label>
<input type="text" name="n2">
<label>username</label>
<input type="text" name="user">
<label>Password</label>
<input type="password" name="p1">
<label>Confirm Password</label>
<input type="password" name="p2">

<label>Age</label>
<input type="text" name="ag">
<label>sex</label> 
<input type="radio" name="gnd" value="male"> Male<br>
<input type="radio" name="gnd" value="female"> female<br>
<input type="radio" name="gnd" value="other"> other<br>
<input type="submit" value="register">

</body>



</html>